.DecksTable-FactionHeader {
  width: 30%;
  font-size: 20px;
}
.DecksTable-AgendaHeader {
  width: 40%;
  font-size: 20px;
}
.DecksTable-NumberHeader {
  width: 15%;
  font-size: 20px;
}
.DecksTable-Faction {
  padding-left: 10px;
}
.DecksTable-Number {
  text-align: center;
}
